<header>
    <nav class="navbar navbar-dark bg-dark">
      <a href="/">logo</a>
       <ul class="">
          <li><a href="/Perguntar">Perguntar</a></li>
          <li><a href="">Sobre</a></li>
       </ul>
     </nav>
  </header>