<header>
    <nav class="navbar navbar-dark  bg-dark">
      <a href="/" class="navbar-brand" >logo</a>
       <ul class="">
          <li><a href="/Perguntar"class="navbar-brand" >Perguntar</a></li>
          <li><a href=""class="navbar-brand" >Sobre</a></li>
       </ul>
     </nav>
  </header>