<header class="align-items-center">
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand" >logo</a>
       <ul class="d-flex justify-content-sm-evenly align-items-center">
          <li class="nav-item "><a href="/Perguntar"class="navbar-brand" >Perguntar</a></li>
          <li class="nav-item"><a href=""class="navbar-brand" >Sobre</a></li>
       </ul>
     </nav>
  </header>