<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <title>Home Page</title>
</head>
<body>

<main>
  <h1>Home Page</h1>
  <h3>Plataforma de perguntas</h3>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
   Doloremque expedita repellendus
   dolore vero animi quam necessitatibus optio adipisci numquam distinctio
   eaque officia explicabo et debitis ea aperiam at, nam nihil?
 </p>

</main>

</body>
</html