<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customMain.css">
    <title>Document</title>
</head>
<body>
<%- include('./partials/Header.ejs') %>
<h1>Perguntas salvas</h1>
<ul>
    <% perguntas.map(per =>{ %>
        <li>
          <h5><%=per.titulo%></h5>
          <p><%=per.assunto%></p>
        </li>
    <%}) %> 
  </ul>
<%- include('./partials/Footer.ejs') %> 
</body>
</html>