<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customMain.css">
    <link rel="stylesheet" href="../css/reset.css  ">
    <title>PerguntasSalvas</title>
</head>
<body>
<%- include('./partials/Header.ejs') %>
<h1>Perguntas salvas</h1>
<ul class="container" id="resetUl">
    <% perguntas.map(per =>{ %>
        <li class="shadow p-3 mb-5 bg-body rounded">
          <h5 class="text-success"><%=per.titulo%></h5>
          <p class="text-secondary"><%=per.assunto%></p>
           <button class="btn btn-info">responder</button>
           <button class="btn btn-danger">remover</button>
        </li>
    <%}) %> 
  </ul>
<%- include('./partials/Footer.ejs') %> 
</body>
</html>