<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/reset.css  ">
    <title>Perguntar</title>
</head>
<body>
 
<%- include('./partials/Header.ejs') %> 

<div class="container card" id="ajust-space">
    <div class="card-header">
        <h3 class="card-title">Realizar pergunta</h3>
        <h5 class="card-subtitle mb-2 text-muted">faça sua pergunta no formulario abaixo</h5>
    </div>
    <form action="/">
      <div class="card-body">
          <div class="mb-3">
              <label >Título</label>
              <input type="text" class="form-control" placeholder="Título">
          </div>
          <div class="mb-3">
              <label for="">Assunto</label>
              <textarea placeholder="escreva a pergunta" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">enviar</button>
          <button class="btn btn-outline-primary">cancelar</button>
      </div>
    </form>
</div>

<%- include('./partials/Footer.ejs') %> 

</body>
</html